RING_CLIENT_ID=XCELVisionDevelopment_J6Bd7RNjD9CdD12FROaTi
RING_CLIENT_SECRET=Td8eWqEm4WBfii7LIoLGU0OCEZouJT5Iz78UJx9axaWGwUTZScWGLnbBe3it
RING_HMAC_SECRET=7swvwUhNQle8GeE8EkFwYrmhXOhXJOLY5mG2OpPYCNA=
BASE_URL=https://your-ngrok-url.ngrok-free.app
RING_ENCRYPTION_KEY=your-fernet-key-here
RING_DEVICE_CACHE_TTL_SECONDS=300
